<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/certificate" routerLinkActive="active">Certificat</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/encrypt" routerLinkActive="active">Chiffrement</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/decrypt" routerLinkActive="active">Déchiffrement</a>
        </li>
      </ul>
    </header>
  </div>